{% extends 'base.html.twig' %}
{% block title %}Symfony - Helloworld User{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Hello world {{ name }}!</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-4">
      <h2>Add a country</h2>
      <form  class="navbar-form navbar-right" action="{{ path("_add_country") }}" method="post" id="login">
        <div class="form-group">
          <label> Country : </label>
          <input type="text" id="country" name="_country" class="form-control"  placeholder="Country"/>
        </div>
        <div class="form-group" style="width:100%;margin-top:20px">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>
    </div>
    <div class="col-lg-4">
      <h2>Add an info</h2>
      <form  class="navbar-form navbar-right" action="{{ path("_add_info") }}" method="post" id="login">
        <div class="form-group">
          <label for="country"> Country : </label>
          <select name="_country" id="country" class="form-control">
            {% for id,country in countries %}
              <option value="{{id}}">{{country}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="name"> Name : </label>
          <input type="text" id="name" name="_name" class="form-control"  placeholder="Name"/>
        </div>
        <div class="form-group">
          <label for="info"> Info : </label>
          <input type="text" id="info" name="_info" class="form-control"  placeholder="Info"/>
        </div>
        <div class="form-group" style="width:100%;margin-top:20px">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>
   </div>
  </div>

  <hr>
{% endblock %}
